# PYTHON CRASH COURSE

In [1]:
# this notebook is created by Sudharsan
# Plz note that: *some codes are taken from different sources*

In [4]:
# Welcome to the first program of this workshop 
# In this notebook we will lean a bit of python
# This notebook is optional , if you know python skip to the next notebook

In [5]:
print ("Hello World!")

Hello World!

here we can add reference or notes

## Numbers

### Arithmetic

In [6]:
2+1

3

In [7]:
2*2

4

In [8]:
3/2

1.5

In [9]:
7/4

1.75

In [10]:
7%3

1

In [11]:
50%5

0

In [12]:
23%2

1

In [13]:
2**2

4

In [14]:
2**3

8

In [15]:
(2*3)+(3-1)

8

In [7]:
a = 5

In [17]:
b = 8

In [18]:
a + b

13

In [19]:
a=a+a

In [20]:
a

10

In [21]:
a

10

In [8]:
type(a)

int

In [9]:
a=30.1

In [10]:
type(a)

float

In [11]:
print(int(a))

30

In [12]:
a

30.1

## Strings

In [13]:
"this is a string"

'this is a string'

In [9]:
print ("hello \tworld") # printing string

hello 	world

In [14]:
len("i am") # length of string

4

In [23]:
mystring = "hello" # storing string to a variable

In [12]:
mystring

'hello'

### Slicing Strings

In [13]:
mystring[1]

'e'

In [14]:
mystring[0]

'h'

In [16]:
mystring[:2]

'he'

In [17]:
mystring[1:-1]

'ell'

In [18]:
mystring[::]

'hello'

In [19]:
mystring[::2]

'hlo'

In [15]:
mystring = "abcdefghijklmnopqrst"

In [24]:
mystring[1:13:2]

'bdfhjl'

In [20]:
mystring = "hello world"

In [21]:
mystring[8]

'r'

In [22]:
mystring[8] = "t"

TypeError: 'str' object does not support item assignment

In [31]:
mystring[::-1]

'dlrowolleh'

### Concatenate Strings

In [32]:
x = "hello world"

In [33]:
y = x + " it is beautiful"

In [34]:
y

'hello worldit is beautiful'

In [35]:
letter = "z"

In [36]:
letter*10

'zzzzzzzzzz'

In [37]:
x*10

'hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world'

### Basic Built-in String methods

In [40]:
x.upper()

'HELLO WORLD'

In [41]:
x.lower()

'hello world'

In [44]:
x.split('l')

['he', '', 'o wor', 'd']

## Print Formatting

In [1]:
print("this is a string {}".format("INSERTED"))

this is a string INSERTED

In [2]:
print("the {q} {b} {f}".format(f="fox",b="brown",q="quick"))

the quick brown fox

In [3]:
result= 100/20

In [4]:
print("the result is {}".format(result))

the result is 5.0

## Formatting with placeholders

In [5]:
"i like %s" %'apples'

'i like apples'

In [24]:
# This is similar to c programming
a = 'mangos'
print("i like %s" %a)

i like mangos

In [25]:
# I like to use format when working with python
print("i like {}".format("apples"))

i like apples

# LISTS

In [ ]:
# This is wrong as per rules of python
list = ['a', 8, 9]

In [26]:
list_1 = ["one",2,3]

In [27]:
list_2 = [4,5]

In [28]:
list_1+list_2

['one', 2, 3, 4, 5]

In [29]:
new_list=list_1+list_2

In [30]:
new_list

['one', 2, 3, 4, 5]

In [31]:
new_list[0]=1

In [32]:
new_list

[1, 2, 3, 4, 5]

In [33]:
new_list.append(6)

In [34]:
new_list

[1, 2, 3, 4, 5, 6]

In [35]:
new_list.pop()

6

In [36]:
new_list

[1, 2, 3, 4, 5]

In [37]:
new_list.count()

TypeError: count() takes exactly one argument (0 given)

In [38]:
new_list[1:]

[2, 3, 4, 5]

In [39]:
new_list*2 # Duplicating list

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [40]:
# Nested list
nested_list = [[1,2],3,4]

In [43]:
print(nested_list[0][1])

2

## DICTIONARY

In [44]:
prices = {'orange':'two', 'mango':[0,3,2,4] , 'grape':{'super':1.25,'duper':0.75}}

In [45]:
prices['orange'].upper()

'TWO'

In [51]:
prices['mango'][1] # list inside dictionary

3

In [46]:
prices['key']=300 # adding elements to dictionary

In [38]:
prices

{'orange': 'two',
 'mango': [0, 3, 2, 4],
 'grape': {'super': 1.25, 'duper': 0.75},
 'key': 300}

### A few Dictionary Methods

In [53]:
prices.keys()

dict_keys(['orange', 'mango', 'grape', 'key'])

In [54]:
prices.items()

dict_items([('orange', 'two'), ('mango', [0, 3, 2, 4]), ('grape', {'super': 1.25, 'duper': 0.75}), ('key', 300)])

## TUPLES

In [56]:
# Create a tuple
t = ('one',2,3)

In [ ]:
# Check len just like a list
len(t)

In [ ]:
# Use indexing just like we did in lists
t[0]

In [60]:
# Use .index to enter a value and return the index
t.index(2)

1

#### Tupples are Immutable

In [61]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

In [62]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

## SETS

In [47]:
myset = set()

In [48]:
myset.add(1)

In [49]:
myset

{1}

In [42]:
myset.add(2)

In [43]:
myset.add(2)

In [45]:
myset

{1, 2}

In [46]:
myset.add('a')

In [47]:
myset

{1, 2, 'a'}

In [63]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [64]:
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

## Booleans

In [48]:
1<.5

False

In [1]:
%%writefile myfile.txt
hello this is a text file
this is the second line
this is a 3rd line

Writing myfile.txt

In [7]:
myfile = open('myfile.txt')

In [4]:
pwd

'C:\\Users\\sudharsan'

In [12]:
myfile = open('myfile.txt')

In [13]:
myfile.read()

'hello this is a text file\nthis is the second line\nthis is a 3rd line\n'

In [14]:
myfile.read()

''

In [ ]:
my_file.close()

In [15]:
with open('myfile.txt',mode='r')as f:
    print(f.read())

hello this is a text file
this is the second line
this is a 3rd line

In [20]:
with open('myfile.txt',mode='a') as f:
    f.write('four on 4 and \n 5 ')

In [21]:
with open('myfile.txt',mode='r')as f:
    print(f.read())

hello this is a text file
this is the second line
this is a 3rd line
four on 4four on 4 and
four on 4 and
 5

In [23]:
print(f.read())

ValueError: I/O operation on closed file.

## Chained Comparison Operators

In [65]:
1 < 2 < 3

True

In [66]:
1<2 and 2<3

True

## if, elif, else Statements

In [20]:
hungry = True

if hungry:
    print("feed")
else:
    print(" not hungry")

feed

## for Loops

In [68]:
c = list(range(1,6))

In [69]:
print(c)

[1, 2, 3, 4, 5]

In [11]:
total = 0
for i in c:
    total = total+i
print(total)

15

In [15]:
c = list(range(1,100))

In [18]:
total = 0
for i in c:
    if i % 2 == 0:
        total += i
print(total)

2450

In [19]:
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [21]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [22]:
for (a,b,c) in mylist:
    print(c)

3
6
9

## While loop

In [1]:
x = 0 
while x < 5:
    print(f'the current val of x is {x}')
    x += 1

the current val of x is 0
the current val of x is 1
the current val of x is 2
the current val of x is 3
the current val of x is 4

In [8]:
# Enumerate() method adds a counter to an iterable
# and returns it in a form of enumerate object.
for i,j in enumerate(list(range(0,11))):
    print (i,j)
    print(i*j)
    print("\n")

0 0
0


1 1
1


2 2
4


3 3
9


4 4
16


5 5
25


6 6
36


7 7
49


8 8
64


9 9
81


10 10
100

## inputs in Python

In [71]:
s = input("enter something")

enter something3

In [72]:
s

'3'

In [73]:
type(s)

str

In [70]:
a = input("enter a number")
b = float(a)
b = b*b
print(b)

enter a number2
4.0

In [76]:
a = int(input("enter a num: "))
print(a*a)

enter a num: 4
16

## Single Line

In [80]:
mylist = [num**2 for num in range(0,11) if num%2==0]

In [81]:
mylist

[0, 4, 16, 36, 64, 100]

In [20]:
mylist = []

for i in (2,3,4):
    for j in (10,20,30):
        mylist.append(i*j)

In [21]:
mylist

[20, 40, 60, 30, 60, 90, 40, 80, 120]

## Functions

In [1]:
def HW_function():
    '''
    Docstring = info abt function
    input = no input
    output = hello...
    '''
    print("hello")

In [2]:
HW_function()

hello

In [3]:
help(HW_function)

Help on function HW_function in module __main__:

HW_function()
    Docstring = info abt function
    input = no input
    output = hello...

In [83]:
def say_hello(name):
    print('hello '+ name)

In [84]:
say_hello('Sandy')

hello Sandy

In [8]:
def add(n1,n2):
    return n1+n2

In [9]:
result = add(2,3)

In [10]:
result

5

In [17]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [20]:
dog_check('Dog ran away')

True

In [21]:
def pig_latin(word):
    first_letter = word[0]
    #check is vowel
    if first_letter in "aeiou":
        pig_word = word + "ay"
    else:
        pig_word = word[1:] + first_letter + "ay"
    return pig_word

In [22]:
pig_latin('apple')

'appleay'

In [23]:
pig_latin('word')

'ordway'

The special syntax *args in function definitions in python is used to pass a variable number of arguments to a function. It is used to pass a non-keyworded, variable-length argument list.

In [6]:
def myfunc(*args):
    return sum(args)

In [7]:
myfunc(10,20,30)

60

**kwargs in function definitions in python is used to pass a keyworded, variable-length argument list. We use the name kwargs with the double star. The reason is because the double star allows us to pass through keyword arguments (and any number of them).

In [85]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('my fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print (' no fruit is here')

In [86]:
myfunc(fruit="apple",veggie="lettuce")

my fruit of choice is apple

In [11]:
a = []
i = 0
def myfunc(*args):
    for i in args:
        if i%2==0:
            a.append(i)

In [12]:
myfunc(20,11,12,16)

In [13]:
a

[20, 12, 16]

In [4]:
def square(num):
    return num**2

In [5]:
my_num = [1,2,3,4,5,6]

In [6]:
for item in map(square,my_num):
    print(item)

1
4
9
16
25
36

In [3]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [1]:
mystring = ['adam','eve','sandy']

## Map

In [4]:
list(map(splicer,mystring))

['EVEN', 'e', 's']

In [8]:
square = lambda num : num**2

In [9]:
square(5)

25

In [3]:
my_num = [1,2,3,4,5,6]

In [5]:
list(map(lambda num: num**2 , my_num))

[1, 4, 9, 16, 25, 36]

In [6]:
class Circle:
    #class object attribute
    pi = 3.14
    def __init__(self,radius=1):
        self.radius = radius
        
    #method
    def get_circumference(self):
        return self.radius * self.pi * 2

In [14]:
my_circle = Circle(3)

In [15]:
my_circle.pi

3.14

In [16]:
my_circle.get_circumference()

18.84

## try/ except/ finally

In [2]:
def ask_for_int():
    while True:
        try:
            result = int(input('please provide number:'))
        except:
            print('whoops! Thats is not a number')
            continue
        else:
            print('yes thank you')
            break
        finally:
            print('end of try/except/finally')

In [3]:
ask_for_int()

please provide number:woops
whoops! Thats is not a number
end of try/except/finally
please provide number:3
yes thank you
end of try/except/finally

In [1]:
##generator
def gen_fibon(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b = b,a+b

In [2]:
for x in gen_fibon(11):
    print(x)

1
1
2
3
5
8
13
21
34
55
89

In [3]:
f = gen_fibon(10)

In [4]:
print(next(f))

1

In [5]:
print(next(f))

1

In [6]:
print(next(f))

2

In [7]:
print(next(f))

3

In [8]:
print(next(f))

5

## Advanced python modules

### Collection module

In [25]:
import collections

In [27]:
#counter
from collections import Counter
l = [1,2,1,1,2,3,4,4,4,4,4,4,5,6,6,6]
Counter(l)

Counter({1: 3, 2: 2, 3: 1, 4: 6, 5: 1, 6: 3})

In [38]:
c = Counter(l)

In [39]:
print(c)

Counter({4: 6, 1: 3, 6: 3, 2: 2, 3: 1, 5: 1})

In [40]:
sum(c.values())

16

In [41]:
c.most_common(1)

[(4, 6)]

In [44]:
#default dictionary 
from collections import defaultdict

In [45]:
d = defaultdict(lambda: 0)

In [46]:
d['one']

0

In [47]:
d['two'] = 2

In [48]:
d

defaultdict(<function __main__.<lambda>()>, {'one': 0, 'two': 2})

In [49]:
print(d)

defaultdict(<function <lambda> at 0x000001B67C7BCB88>, {'one': 0, 'two': 2})

In [4]:
#ordered dictionary
from collections import OrderedDict

In [10]:
d = OrderedDict()

In [11]:
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4

In [14]:
for key, value in d.items():
    print(key, value)

a 1
b 2
c 3
d 4

In [15]:
#named tuple
from collections import namedtuple

In [16]:
dog = namedtuple('dog','age breed name')
sam = dog(2,'lab','sammy')

In [17]:
sam

dog(age=2, breed='lab', name='sammy')

In [18]:
 print(sam.age)

2

## DateTime module

In [20]:
# datetime module
import datetime

In [21]:
t = datetime.time(3,25,25)

In [22]:
print(t)

03:25:25

In [23]:
t.minute

25

In [24]:
print(datetime.time.min)

00:00:00

In [25]:
print(datetime.time.max)

23:59:59.999999

In [26]:
today = datetime.date.today()
print(today)

2020-04-29

In [27]:
print(datetime.date.today())

2020-04-29

In [38]:
d1 = datetime.date(2018,9,13)

In [39]:
d2 = datetime.date.today()

In [42]:
print(d2-d1)

594 days, 0:00:00

In [47]:
import timeit

In [48]:
timeit.timeit("-".join(map(str,range(100))),number = 10000)

6.470000062108738e-05

In [50]:
%timeit "-".join([str(n)for n in range(100)])

18.3 µs ± 292 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [52]:
import re

In [53]:
patterns = ['term1','term2']
text = 'this has term1 but not the other term'
re.search('hello','hello world')

In [56]:
for pattern in patterns:
    print('searching for "%s" in : "%s" \n' %(pattern, text))
    if re.search(pattern,text):
        print('match was found')
    else:
        print('no match')

searching for "term1" in : "this has term1 but not the other term"

match was found
searching for "term2" in : "this has term1 but not the other term"

no match

## Advaced Numbers

In [57]:
hex(287)

'0x11f'

In [59]:
bin(128)

'0b10000000'

In [60]:
2**4

16

In [62]:
pow(2,4,3)

1

In [63]:
pow(2,4)

16

In [64]:
abs(-3)

3

In [68]:
round(3.12745125,4)

3.1275

## Advanced Strings

In [69]:
s = "hello world"

In [71]:
s.capitalize()

'Hello world'

In [72]:
s.upper()

'HELLO WORLD'

In [73]:
s.lower()

'hello world'

In [75]:
s.find('o')

4

In [77]:
s.center(20,'z')

'zzzzhello worldzzzzz'

In [79]:
s.isalnum()

False

In [80]:
s.isalpha()

False

In [81]:
s.isspace()

False

In [82]:
s = 'hello'

In [83]:
s.partition('e')

('h', 'e', 'llo')

In [84]:
s = set()

In [85]:
s.add(1)

In [86]:
s.add(2)

In [87]:
s.add(3)

In [88]:
sc = s.copy()

In [89]:
sc.add(4)

In [90]:
sc

{1, 2, 3, 4}

In [91]:
s

{1, 2, 3}

In [93]:
sc.difference(s)

{4}

In [94]:
s1 = {1,2,3}
s2 = {1,4,5}

In [95]:
s1.difference_update(s2)

In [96]:
s1

{2, 3}

In [97]:
s.discard(2)

In [98]:
s

{1, 3}

In [104]:
s1 = {1,2,3}
s2 = {1,2,4}

In [105]:
s1.intersection(s2)

{1, 2}

In [107]:
s1.intersection_update(s2)

In [108]:
s1

{1, 2}

In [1]:
### fibanoci series program ###
def fibanoci(v):
    l = [1,1]
    
    for i in range(0,100):
        if l[-1]>v:
            l.pop()
            break
        l.append((l[i]+l[i+1]))
        
    return l

In [2]:
print(fibanoci(200))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

Thats all for the python crash course. see u again in further tutorials.

## Thank you

## ------------------------------The End of Python crash course -----------------------------